<h1><%= @list.name %></h1>
<% if @list.trucks.empty? %>
  <p>You haven't added any trucks yet.</p>
<% else %>
  <table class="trucks">
    <tr>
      <th>Unit Number</th>
      <th>Unit Type</th>
      <th>Latest Note</th>
    </tr>
    <tbody class="sortable"> 
      <% @trucks.each do |truck| %>
        <tr id="<%= truck.sortable_id %>"> 
          <td><%= truck.unit_number %></td>
          <td><%= truck.unit_type %></td>
          <td><%= truck.notes.last.text unless truck.notes.empty? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>