<!DOCTYPE html>
<html>
  <head>
    <title>WashList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <div class="topnav">
        <ul>
          <li class="logo"><img src="<%= asset_path( 'Logo-01-no-text.png' ) %>"></li>
          <li onclick="location.href = '/';">Home</li>
          <% if current_list %>
            <li onclick="location.href = '/dashboard';">Dashboard</li>
          <% end %>
          <li onclick="location.href = '/about';">About</li>
          <% if !current_list %>
            <li><a href="/list/new" class="signup-btn"><span>Sign Up</span></a></li>
          <% end %>
          <% if current_list %>
            <li><a href="/logout" class="signup-btn"><span>Log Out</span></a></li>
          <% end %>
        </ul>
      </div>
    <% flash.each do |name, msg| %>
      <div class="flash">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= msg %>
        <script>
          setTimeout("$('.flash').fadeOut('slow')", 2500)
        </script>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
